@charset 'utf8';

html {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
}
body {
    color: rgb(29, 29, 31);
    background-color: rgb(0, 0, 0);
    
}


/* 메뉴바 { */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(29, 29, 31, 0.8);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 999;

}
.menu-items-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 0 12px; 
    box-sizing: border-box;

}
.menu-items-group .menu-item-logo {
    margin-right: auto;
}
.menu-items-group a {
    text-decoration: none;
    color: #f5f5f7;   
}

.menu-items-group .menu-item-text {
    margin-left: 1em;
}
/* 메뉴바 }; */

/* 콘텐츠 { */

    /* 공통부분 { */
.body-section {
    padding: 50px 0 0;
    max-width: 1000px;
    border: red 1px solid;
    margin: 0 auto;
}
.section-box {
    border: 1px blue dashed;
    width: 100%;
    overflow: auto;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.section-box::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.section-box h3 {
    margin: 2em 0;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 300;
    color: #f5f5f7;
}

.section-part-2 {
    margin-top: 1em;
}

.descBox {
    padding-top: 30vh;
    margin-right: auto;
    max-width: 300px;
}
.descBox p{
    font-size: 22px;
    color: #f5f5f7;
    width: 100%;
    height: auto;
    margin-bottom: 3em;
}

.descBox a {
    text-decoration: none;
    color: #f5f5f7;
    border: 1px solid transparent;
    border-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #61b6cd 35%, #005e7f 45%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 2em;
    padding: .5em 1.2em;

}
.verticalBox {
    width: 600px;
}
.verticalBox img {
    max-width: 100%;
    height: auto;
}
    /* }; */

/* section-0 */
.section-box #text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}
.section-box #text-box h1{
    font-size: 3.8rem;
    font-weight: 800;
    color: #f5f5f7;
}
.section-box#section-0 #text-box h2{
    margin-top: 0.3em;
    font-size: 2.2rem;
    font-weight: 300;
    color: #f5f5f7;
}

/* .section-box img {
    max-width: auto;
    min-height: 100%;
} */

.section-part-1 {
    /* position: relative;
    top: 0;
    left: 0; */
}

.section-part-2 {
    display: flex;
}

/* 콘텐츠 }; */

footer {
    /* position: relative; */
    height: 600px;
}